body {
  background-color: #999;
  margin: 0 0;
}

.rater-background {
  background: #253437 url('background.jpg') no-repeat center top;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}
.rater-container{
  margin: 0 auto;
  padding-top: 15vh;
  width: 840px
}
.rater-card {
  width: 800px;
  height: 380px;
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
  border-radius: 3px;
  text-align: center;
}
.rater-undercard{
  width: 800px;
  height: 380px;
  margin: 0 auto;
  background-color: #fff;
  position: absolute;
  transform: rotate(-3deg);
  border-radius: 3px;
}
.rater-wrapper {
  width: 500px;
  height: 200px;
  margin: 0 auto;
  transform: scale(0.7);
}
.rater-question, .thankyou{
  margin: 0;
  color: #898989;
  font: 2em Helvetica Neue,Helvetica,Arial,sans-serif;
  padding: 80px 0 0 0;
}
.rater-que{
  color: #898989;
  font: 1.4em Helvetica Neue,Helvetica,Arial,sans-serif;
  padding: : 12px 0 0 0;
}
.question-wrapper {
  height: 220px;
  position: absolute;
  width: 800px;
}
.thankyou-wrapper {
  height: 220px;
  transform: rotateX(90deg);
}
.flipin{
  animation: flip 1.5s 1s reverse;
  animation-fill-mode: forwards;
  transform-origin: top;
}
.flipout  {
  animation: flip 1.5s 1s;
  animation-fill-mode: forwards;
  transform-origin: bottom;
}


.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.swisher {
  position: relative;
  right: -1px;
  width: 1px;
  height: 98px;
  background: #ffe83f;
}
.swisherMoveToawful {
  animation: swishawful 1s 0.5s;
  animation-fill-mode: forwards;
}
.swisherMoveTobad {
  animation: swishbad 1s 0.5s;
  animation-fill-mode: forwards;
}
.swisherMoveToneutral {
  animation: swishneutral 1s 0.5s;
  animation-fill-mode: forwards;
}
.swisherMoveTogood {
  animation: swishgood 1s 0.5s;
  animation-fill-mode: forwards;
}
.swisherMoveToawesome {
  animation: swishawesome 1s 0.5s;
  animation-fill-mode: forwards;
}
.cutout {
  position: relative;
  width: 98px;
  height: 98px;
  background: -webkit-radial-gradient(50% 50%, circle, transparent 76px, #000 10%);
  background: -moz-radial-gradient(50% 50%, circle, transparent 55%, #fff 10%);
  background: radial-gradient(50% 50%, circle, transparent 10%, #000 10%);
}
.mood {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
  border: 4px solid #0003;
  position: absolute;
}
.mood-awful {
  position: absolute;
  top :33px;
  left: 12px;
  width: 40px;
  height: 20px;
  border: 3px solid #0003;
  border-radius: 80px 80px 0 0;
}
.mood-bad {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 54px;
  height: 46px;
  overflow: hidden;
}

.mood-bad:before {
  content: "";
  position: absolute;
  top: 76%;
  left: 0%;
  border-radius: 50%;
  height: 100%;
  width: 48px;
  border: 3px solid #0003;
}
.mood-neutral {
  position: absolute;
  top: 45px;
  left: 20%;
  width: 50%;
  height: 0;
  border: 3px solid #0003;
  overflow: hidden;
  border-radius: 8px;
}
.mood-good {
  position: absolute;
  top: 40px;
  left: 8px;
  width: 54px;
  height: 46px;
  overflow: hidden;
}
.mood-good:before {
  content: "";
  position: absolute;
  top: -66%;
  left: 0%;
  border-radius: 50%;
  height: 100%;
  width: 48px;
  border: 3px solid #0003;
}
.mood-awesome {
  position: absolute;
  top :33px;
  left: 8px;
  width: 48px;
  height: 23px;
  border: 3px solid #0003;
  border-radius: 0 0 80px 80px ;
}
.mood-selected  {
  width: 70px;
  height: 70px;
  border: 3px solid #5bceceff;
  background: #5bceceff;
  border-radius: 50%;
  margin: 10px;
  position: absolute;
  z-index: 3;
  animation: fadeinselectedmood 0.5s, totick 0.5s 0.25s;
  animation-fill-mode: forwards;
}
.mood-selected .mood-awful,
.mood-selected .mood-bad:before,
.mood-selected .mood-neutral,
.mood-selected .mood-good:before,
.mood-selected .mood-awesome {
  border: 3px solid #ffff;
  animation : fademouth 1s 0.5s;
  animation-fill-mode: forwards;
}
.mood-selectpop {
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 50%;
  position: absolute;
  border: 3px solid #5bcece;
  background: #0000;
  animation: pop 1.5s;
  animation-fill-mode: forwards;
  z-index: 2;
}
.ticked {
  position: absolute;
  background-color: #5bcece;
  top: 12px;
  left: 12px;
  width: 48px;
  height: 48px;
  z-index: 5;
  overflow: hidden;
  animation: revealtick 0.2s 2s;
  animation-fill-mode: both;
  transform-origin: bottom;
}
.ticked:after {
  content: "";
  position: absolute;
  width: 48px;
  height: 65px;
  transform:translate(-32px,-40px) rotate(45deg);
  border: 6px solid #fff;
}


@keyframes pop {
  0% {
    opacity: 0;
    transform: translate(-30px,-30px) scale(0.1, 0.1);
    border: 33px solid #5bcece;
  }
  50% {
    opacity: 0.3;
  }
  99% {
    transform: scale(2, 2);
    opacity: 0;
    border: 1px solid #5bcece;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@keyframes fadeinselectedmood {
  0% { opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fademouth {
  to {border: 3px solid #5bcece;}
}
@keyframes totick {
  from {transform: translate(0, 0) scale(1, 1); }
  to {transform: translate(25px, 25px) scale(0.4, 0.4); }
}
@keyframes swishawful {
  from {transform: translate(1px, 0) scale(1, 1) }
  to {transform: translate(74px, 0) scale(147, 1) }
}
@keyframes swishbad {
  from {transform: translate(1px, 0) scale(1, 1) }
  to {transform: translate(123px, 0) scale(245, 1) }
}
@keyframes swishneutral {
  from {transform: translate(1px, 0) scale(1, 1) }
  to {transform: translate(172px, 0) scale(343, 1) }
}
@keyframes swishgood {
  from {transform: translate(1px, 0) scale(1, 1) }
  to {transform: translate(221px, 0) scale(441, 1) }
}
@keyframes swishawesome  {
  from {transform: translate(1px, 0) scale(1, 1) }
  to {transform: translate(243px, 0) scale(486, 1) }
}
@keyframes flip  {
  0% {transform: rotateX(0deg); opacity: 1;}
  90% {opacity: 0;}
  100% {transform: rotateX(90deg);opacity: 0; }
}

.dashboard-background{
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.dashboard-container{
  margin-top: 25vh;
  height: 350px;
  background-color: #fff;
}
.dashboard-scorecontainer{
  height: 500px;
  width: 50%;
  text-align: center;
}
.dashboard-score{
  font: 6em Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
  margin: 20% 0 0 0;
}
.dashboard-scoreinfo{
  margin: 0 0 0 0;
  font: 0.8em Arial Narrow, Arial, sans-serif;
  color: #b9b9b9;
}
.dashboard-moodcontainer{
  height: 350px;
  width: 50%;
}
.dashboard-moodwrapper{
  margin: 5vh auto;
  width: 70px;
  height:200px
  transform: scale( 2 );
  position: relative;
  top: 10%;
  transform: scale( 2 ) translateY(-80%);
}
.dashboard-moodbackground{
  width: 78px;
  height: 78px;
  margin: 10px;
  border-radius: 50%;
  position: relative;
}
.dashboard-moodbackground-awful, dashboard-score-awful{
  background-color: #9c0114;
  color:#9c0114;
}
.dashboard-moodbackground-bad, dashboard-score-bad{
  background-color: #9c0114;
  color:#9c0114;
}
.dashboard-moodbackground-neutral, dashboard-score-neutral{
  background-color: #f6cf1d;
  color:#f6cf1d;
}
.dashboard-moodbackground-good, dashboard-score-good{
  background-color: #f6cf1d;
  color:#f6cf1d;
}
.dashboard-moodbackground-awesome, dashboard-score-awesome{
  background-color: #569b13;
  color:#569b13;
}
