{
  "extends": "airbnb",
  "plugins": ["meteor", "react"],
  "parser": "babel-eslint",
  "rules": {
    "consistent-return": 0,
    "no-console": 0,
    "comma-dangle": 0,
    "no-undef": 0,
    "no-unused-vars": ["error", { "args": "none" }],
    "arrow-body-style": 0,
    "no-param-reassign": 0,
    "quote-props": 0,
    "no-else-return": 0,
    "func-names": ["error", "never"],
    "space-before-function-paren": ["error", "never"],
    "max-len": ["warn", 120, { "ignorePattern": "^import|throw|console|render\\(", "ignoreComments": true }],
    "no-underscore-dangle": 0,
    "spaced-comment": 0,
    "class-methods-use-this": 0,
    "no-shadow": ["warn", { "hoist": "functions" }],
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "react/sort-comp": 0,
    "react/prop-types": 2,
    "react/no-string-refs": 2,
    "react/self-closing-comp": 2,
    "react/require-extension": 0,
    "prefer-template": 2,
    "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
    "new-cap": ["error", { "capIsNewExceptions": ["ReactiveAggregate", "Dimensions", "Maybe", "ObjectIncluding", "Where", "OneOf"] }],
    "no-mixed-operators": 1,
    "no-bitwise":  ["error", { "allow": ["~"] }],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "no-extend-native": ["error", { "exceptions": ["String"] }],
    "no-useless-escape": 1,
    "camelcase": "error",
    "id-length": ["error", { "properties": "never", "exceptions": ["i", "t", "e", "_", "$"] }],
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "no-plusplus": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "meteor": true
  }
}
